/* 載入字體 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700;800&display=swap');

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
  width: 100%; /* Keep width 100% for #root */
  box-sizing: border-box; /* Keep box-sizing for #root */
}

/* 載入 Tailwind，自動處理所有基礎樣式) */
@tailwind base;
@tailwind components;
@tailwind utilities;


/* 全域設定字體樣式 */
body {
  @apply text-neutral-text-main font-normal;
}

h1 {
  @apply text-[3.2em] leading-[1.1] font-bold text-neutral-text-main;
}

h2 {
  @apply text-2xl font-bold text-neutral-text-main;
}

h3 {
  @apply text-xl font-semibold text-neutral-text-main;
}

a {
  @apply font-medium text-theme-primary transition-colors;
}
a:hover {
  @apply text-theme-primary-hover;
}